<% provide(:title, "About") %>
<div class="page-header text-center about">
	<h1>About</h1>
		<p>Sometimes we get separated from friends during a night on the town and you have to let them know where you are. Or sometimes we find ourselves in a new part of town and we want someone to know where we are. Find Me Here is for you when you find yourself in a situation where you need to share your exact location with someone. </p>
</div>