<% provide(:title, "Home") %>
<div class="center jumbotron">
	<h1>Find Me Here</h1>
		<p>Welcome to Find Me Here. Share your location with people that care about you.</p>
	<%= link_to "Create account.", signup_path, class: "btn btn-lg btn-primary" %>
</div>