<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
	<head>
		<title>Find Me Here | <%= yield(:title) %></title>	
	</head>
	<body>
		<h1>Find Me Here</h1>
		<p>Welcome to Find Me Here. Share your location with people that care about you.</p>
	</body>
</html>